.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../../public/createbg.jpg");
  background-size: 100% 110vh;
  background-attachment: fixed;
  color: white;
}

.postContainer {
  width: 350px;
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.7);
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.561);
}

.textInputs {
  outline: none;
  border: 0;
}

.titleContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-bottom: 5px;
}

.imageContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-bottom: 5px;
}

.summaryContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-bottom: 5px;
}

.healthScoreContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-bottom: 5px;
}

.instructionsContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-bottom: 15px;
}
.dietsContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-bottom: 5px;
}

.checkboxsContainer {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 11fr 1fr;
}

.buttonsContainer {
  display: flex;
  width: 80%;
  justify-content: space-around;
}

span {
  color: #ff0400;
  font-size: 0.6rem;
}
